fastapi
uvicorn
pydantic
requests
langchain
langchain-community
chromadb
sentence-transformers
python-dotenv
anthropic
python-dotenv
python-docx
tqdm
langchain-anthropic
langchain-huggingface
pypdf2
rich
openpyxl
serpapi
langchain-chroma
google-search-results